:root {
    --color-dark: #161616;
    --color-light: #f2f2f2;
    --color-light-cyan: #d5ebe9;
    --color-cyan: #29b3c7;
    --color-dark-cyan: #0a7e91;
    --font: 'Roboto', sans-serif;
    --title-size: 5vmin;
    --transition: .5s;
}

/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font);
}

/* Fim Reset CSS */

html {
    scroll-behavior: smooth;
}

/* Listas */
ul {
    list-style: none;
}

/* Fim Listas */

/* Links */
a {
    color: var(--color-light);
    text-decoration: none;
    font-weight: bold;
    transition: var(--transition);

    &:hover {
        color: var(--color-cyan);
    }
}

/* Fim Links */

/* Container */
.container {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8),
            rgba(0, 0, 0, 0.3)), url(../images/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
}

/* Fim Container */

/* Header */
header {
    height: 100px;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

header h1 {
    color: var(--color-light);
    font-size: var(--title-size);
}

header .links {
    display: flex;
    gap: 30px;
}

header #btn-mobile {
    display: none;
}

/* Fim Header */

/* Hero */
.hero {
    width: 100%;
    height: calc(100vh - 100px);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    color: var(--color-light);

    & h2 {
        font-size: clamp(24px, 4vw, 50px);
    }

    & p {
        width: 60%;
        text-wrap: balance;
        line-height: 1.6;
    }

    & a {
        font-size: 50px;
    }
}

/* Fim Hero */

/* Sessão 1 - Problema */
.problema {
    width: 80%;
    margin: 50px auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color: var(--color-light-cyan);
    border-radius: 7px;
}

.foto-problema {
    width: 45%;
    margin: 50px 0;
    text-align: center;
}

.foto-problema img {
    width: 70%;
    box-shadow: 1px 1px 30px #999;
}

.texto-problema {
    width: 45%;
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 40px;

    & a {
        border: 2px solid var(--color-cyan);
        padding: 8px 30px;
        background-color: var(--color-cyan);
        border-radius: 70px;
        transition: background-color var(--transition);

        &:hover {
            background-color: transparent;
        }
    }
}

.texto-problema h4 {
    color: var(--color-dark-cyan);
    font-weight: 600;
    margin-bottom: -40px;
}

.texto-problema h3 {
    color: var(--color-dark);
    font-size: clamp(18px, 2vw, 35px);
    text-wrap: balance;
    line-height: 1.3;
}

.texto-problema p {
    width: 90%;
    color: var(--color-dark);
}

/* Fim Sessão 1 - Problema */

/* Sessão 2 - Tecnologias */
.tecnologia {
    min-height: 75vh;
    background-image: linear-gradient(to top, rgba(0, 21, 48, 0.8),
            rgba(0, 21, 48, 0.3)), url(../images/bg-sessao2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 35px;
}

.tecnologia h1 {
    text-align: center;
    color: var(--color-cyan);
    font-size: 35px;
}

.lista-tecnologias {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.item-tecnologia {
    height: 50vmin;
    width: 23%;
    color: var(--color-light);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 20px;
}

.item-tecnologia i {
    font-size: 50px;
}

.bg-1 {
    background-color: #031634;
}

.bg-2 {
    background-color: #033649;
}

.bg-3 {
    background-color: #036564;
}

.bg-4 {
    background-color: #cdb380;
}

/* Fim Sessão 2 - Tecnologias */

/* Sessão 3 -Objetivos */
.objetivo {
    width: 70%;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 35px;
}

.objetivo h1 {
    text-align: center;
    color: var(--color-dark-cyan);
    font-size: 35px;
}

.conteudo-objetivos {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.lista-objetivos {
    width: 55%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.lista-objetivos .item-objetivo {
    width: 70%;
    padding-bottom: 15px;
    border-bottom: 2px solid var(--color-dark-cyan);
    display: flex;
    gap: 15px;
}

.item-objetivo h1 {
    font-size: 30px;
}

.item-objetivo h3 {
    color: var(--color-cyan);
}

.item-objetivo p {
    color: var(--color-dark);
}

.foto-agua-viva {
    width: 35%;
    height: 100%;
    text-align: center;
}

.foto-agua-viva img {
    width: 95%;
    height: 100%;
}

/* Fim Sessão 3 -Objetivos */

/* Começo Sessão 4 - Público-alvo */
.publico {
    background-image: linear-gradient(to top, rgba(0, 21, 48, 0.8),
    rgba(0, 21, 48, 0.3)), url(../images/bolhas-mar.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 35px;
}

.publico h1 {
    padding-top: 30px;
    color: var(--color-light-cyan);
    font-size: 35px;
}

.questao {
    width: 40%;
    margin: 20px auto;
    padding: 20px;
    background-color: var(--color-light-cyan);
    border-radius: 10px;
}

.opcoes label {
    display: block;
    margin: 20px auto;
}

.opcoes label input[type="radio"] {
    appearance: none;
    display: flex;
    align-items: center;
    width: 20px;
    height: 20px;
    border: 2px solid var(--color-dark);
    border-radius: 100%;
    margin-left: 87%;
    transition: .5s ease-in;
}

.opcoes label input[type="radio"]:checked {
    background-color: var(--color-dark-cyan);
}

.opcoes p {
    font-size: 25px;
    color: var(--color-dark);
}

.questao button {
    display: flex;
    margin-left: 80%;
    border: none;
    border-radius: 5px;
    background-color: var(--color-dark-cyan);
    color: var(--color-light);
    font-size: 25px;
    padding: 10px;
    cursor: pointer;
}

#explicacao {
    margin-top: 50px;
    font-size: 20px;
    font-weight: 600;
}
/* Fim Sessão 4 - Público-alvo */

/* Sessão 5 - Solução */
.solucao {
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 35px;
}

.solucao h1 {
    padding-top: 30px;
    color: var(--color-dark-cyan);
    font-size: 35px;
}

.carrossel {
    border-radius: 10px;
    overflow: hidden;
    height: 500px;
    width: 1250px;
}

.carrossel-container {
    display: flex;
    transition: transform 1.5s ease-in-out;
    transform: translateX(0);
}

.carrossel-container img {
    object-fit: cover;
    height: 500px;
    width: 1250px;

}
/* Fim Sessão 5 - Solução */

/* Sessão 6 - Cotidiano */
.cotidiano {
    background-image: linear-gradient(to top, rgba(0, 21, 48, 0.8),
    rgba(0, 21, 48, 0.3)), url(../images/arraias.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.cotidiano h1 {
    text-align: center;
    padding-top: 30px;
    color: var(--color-dark-cyan);
    font-size: 35px;
}

.mensagem button {
    display: flex;
    margin: 200px auto;
    border: none;
    border-radius: 5px;
    background-color: var(--color-dark);
    color: var(--color-light);
    font-size: 35px;
    padding: 20px;
    cursor: pointer;
    transition: var(--transition);
}

.mensagem button:hover {
    background-color: #2f2f2f;
}

.mensagem p {
    display: flex;
    margin: auto 100px;
    text-align: center;
    font-size: 30px;
    text-wrap: balance;
    color: var(--color-light);
}
/* Fim Sessão 6 - Cotidiano */

/* Footer */
footer {
    background-color: var(--color-dark);
    height: 4vw;
    color: var(--color-light);
}

.footer-container {
    display: flex;
    text-align: center;
    justify-content: space-between;
    padding: 20px;
}

.footer-container span{
    font-size: 30px;
}

.footer-container a{
    font-size: 30px;
    font-weight: 300;
}
/* Fim Footer */


/* Responsividade */
@media(width <=950px) {
    .problema {
        padding: 40px 0;
    }

    .foto-problema {
        width: 100%;
        margin: 20px 0;
    }

    .texto-problema {
        width: 70%;
        align-items: center;
        text-align: center;
        gap: 20px;
    }

    .texto-problema h4 {
        margin-bottom: 0;
    }

    .lista-tecnologias {
        width: 100%;
    }

    .item-tecnologia {
        width: 70%;
    }

    .objetivo {
        width: 85%;
    }

    .conteudo-objetivos {
        gap: 30px;
    }

    .lista-objetivos {
        width: 75%;
        align-items: center;
    }

    .lista-objetivos .item-objetivo {
        flex-direction: column;
        text-align: center;
    }

    .foto-agua-viva {
        width: 75%;
    }

    .foto-agua-viva img {
        width: 100%;
    }

    .publico h1 {
        font-size: 25px;
    }

    .questao {
        width: 80%;
        padding: 15px;
    }

    .opcoes label input[type="radio"] {
        width: 16px;
        height: 16px;
    }

    .opcoes p {
        font-size: 15px;
    }

    .questao button {
        margin-top: 20px;
        margin-left: auto;
        font-size: 15px;
        padding: 10px;
    }

    #explicacao {
        margin-top: 30px;
        font-size: 15px;
    }

    .solucao h1 {
        font-size: 25px;
    }

    .carrossel {
        height: 250px;
        width: 350px;
    }

    .carrossel-container img {
        height: 250px;
        width: 350px;
    }

    .cotidiano h1 {
        font-size: 25px;
        color: var(--color-light);
    }
    
    .mensagem button {
        margin: 50px auto;
        font-size: 20px;
        padding: 15px;
    }

    .mensagem p {
        margin: 10px 20px;
        font-size: 15px;
    }
    
}

@media(width <=650px) {
    header #btn-mobile {
        background-color: transparent;
        border: none;
        color: var(--color-light);
        font-size: 5vmin;
        display: flex;
    }

    header .links {
        height: 0px;
        position: absolute;
        top: 70px;
        left: 30px;
        transition: var(--transition);
        z-index: 1000;
        visibility: hidden;
        overflow-y: hidden;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    nav.aberto .links {
        height: calc(100vh - 70px);
        visibility: visible;
        overflow-y: auto;
    }

    .item-tecnologia {
        width: 70%;
        height: 100vmin;
    }
}

/* Fim Responsividade */