<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Oceans Guard</title>

    <!-- Importe de Fontes -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
      rel="stylesheet"
    />

    <!-- Importe de Icones -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
      integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <!-- Importe de CSS -->
    <link rel="stylesheet" href="../css/styles.css" />
  </head>
  <body>
    <div class="container">
      <header>
        <h1>OCEANS GUARD</h1>
        <nav>
          <button id="btn-mobile" onclick="alternarMenu()">
            <i class="fa-solid fa-bars"></i>
          </button>
          <ul class="links">
            <li><a href="#problema">Problema</a></li>
            <li><a href="#tecnologia">Tecnologias</a></li>
            <li><a href="#objetivo">Objetivos</a></li>
            <li><a href="#publico">Público-alvo</a></li>
            <li><a href="#solucao">Solução</a></li>
            <li><a href="#cotidiano">Dia-a-dia</a></li>
          </ul>
        </nav>
      </header>

      <section class="hero">
        <h2>Protejendo o nosso bem mais valioso</h2>
        <p>O nosso desejo é cuidar e protejer os oceanos do mundo todo</p>
        <a href="#problema"><i class="fa-solid fa-circle-arrow-down"></i></a>
      </section>
    </div>

    <!-- Sessão 1 - Problema -->
    <section class="problema" id="problema">
      <div class="foto-problema">
        <img src="../images/lixo_oceanos.jpg" alt="Copo de plástico no mar" />
      </div>
      <div class="texto-problema">
        <h4>Problema</h4>
        <h3>O impacto devastador da poluição nos oceanos</h3>
        <p>
          A poluição dos oceanos ameaça a vida marinha, destrói ecossistemas,
          contamina alimentos e prejudica a saúde humana e ambiental.
        </p>
        <a href="#solucao">Qual a Solução?</a>
      </div>
    </section>
    <!-- Fim Sessão 1 Problema -->

    <!-- Sessão 2 - Tecnologias -->
    <section class="tecnologia" id="tecnologia">
      <h1>Tecnologias</h1>
      <ul class="lista-tecnologias">
        <li class="item-tecnologia bg-1">
          <i class="fa-solid fa-robot"></i>
          <h2>Drones</h2>
          <p>
            Veículos operados remotamente para coleta e análise subaquática, que
            coletam e analisam resíduos abaixo da superfície.
          </p>
        </li>
        <li class="item-tecnologia bg-2">
          <i class="fa-solid fa-satellite-dish"></i>
          <h2>Radar</h2>
          <p>
            Sensores que detectam e monitoram a presença de lixo na superfície
            dos oceanos e em áreas submersas.
          </p>
        </li>
        <li class="item-tecnologia bg-3">
          <i class="fa-solid fa-location-dot"></i>
          <h2>GPS</h2>
          <p>
            Sistema de localização geográfico que fornece o local exato para
            mapeamento de áreas poluídas.
          </p>
        </li>
        <li class="item-tecnologia bg-4">
          <i class="fa-solid fa-layer-group"></i>
          <h2>Plataforma</h2>
          <p>
            Sistema para a coordenação e gerenciamento processos otimizados de
            coleta de lixo e resíduos.
          </p>
        </li>
      </ul>
    </section>
    <!-- Fim Sessão 2 - Tecnologias -->

    <!-- Sessão 3 - Obejetivos -->
    <section class="objetivo" id="objetivo">
      <h1>Objetivos</h1>
      <div class="conteudo-objetivos">
        <ul class="lista-objetivos">
          <li class="item-objetivo">
            <h1>1</h1>
            <div>
              <h3>Reduzir a Poluição:</h3>
              <p>Diminuir significativamente a quantidade de lixo nos oceanos.</p>
            </div>
          </li>
          <li class="item-objetivo">
            <h1>2</h1>
            <div>
              <h3>Preservar a Vida Marinha:</h3>
              <p>Proteger espécies e ecossistemas afetados pela poluição.</p>
            </div>
          </li>
          <li class="item-objetivo">
            <h1>3</h1>
            <div>
              <h3>Apoiar Iniciativas de Limpeza:</h3>
              <p>Colaborar com organizações para promover ações de limpeza.</p>
            </div>
          </li>
          <li class="item-objetivo">
            <h1>4</h1>
            <div>
              <h3>Promover Sustentabilidade:</h3>
              <p>Desenvolver soluções sustentáveis e de longo prazo para a gestão de resíduos.</p>
            </div>
          </li>
          <li class="item-objetivo">
            <h1>5</h1>
            <div>
              <h3>Proteger Recursos Naturais:</h3>
              <p>Garantir a preservação dos recursos oceânicos para as futuras gerações.</p>
            </div>
          </li>
        </ul>
        <div class="foto-agua-viva">
          <img src="../images/agua-viva.jpg" alt="água viva">
        </div>
      </div>
    </section>
    <!-- Fim Sessão 3 - Obejetivos -->

    <!-- Sessão 4 - Público-alvo -->
    <section class="publico" id="publico">
      <h1>Qual público será impactado?</h1>
      <div class="questao">
        <div class="opcoes">
          <label> 
            <input type="radio" name="resposta" value="incorreto">
            <p>Empresas de Tecnologia</p> 
          </label>
          <label>
            <input type="radio" name="resposta" value="correto">
            <p>A vida marinha e a Humanidade</p>
          </label>
          <label>
            <input type="radio" name="resposta" value="incorreto">
            <p>Indústria do Cinema</p>
          </label>
          <label>
            <input type="radio" name="resposta" value="incorreto">
            <p>A democracia</p>
          </label>
        </div>
        <button onclick="checarResposta()">Descobrir</button>
        <p id="explicacao"></p>
      </div>
    </section>
    
    <!-- Fim Sessão 4 - Público-alvo -->

    <!-- Sessão 5 - Solução -->
     <section class="solucao" id="solucao">
      <h1>Os benefícios dessa solução</h1>
      <div class="carrossel">
        <div class="carrossel-container" id="img-carrossel">
          <img src="../images/carrossel/monitoramento.png" alt="Imagem 1 do Carrossel">
          <img src="../images/carrossel/operacao.png" alt="Imagem 2 do Carrossel">
          <img src="../images/carrossel/sustentabilidade.png" alt="Imagem 3 do Carrossel">
        </div>
      </div>
     </section>
    <!-- Fim Sessão 5 - Solução -->

    <!-- Sessão 6 - Cotidiano -->
    <section class="cotidiano" id="cotidiano">
      <h1>E no dia a dia?</h1>
      <div class="mensagem">
        <button onclick="mostrarMsg()">Clique para revelar</button>
        <p id="msg"></p> 
      </div>
    </section>    
    <!-- Fim Sessão 6 - Cotidiano -->

    <!-- Footer -->
    <footer>
      <div class="footer-container">
        <span>OCEANS GUARD © 2024</span>
        <a
          href="https://github.com/RafaelPA13/GS_FrontEnd_WebDev"
          target="_blank"
        >Código Fonte</a>
      </div>
    </footer>
    <!-- Importe JS -->
    <script src="../js/script.js"></script>
  </body>
</html>
